<div class="song-Container">
    <div class="cardHeader">
        <h2>Popular Songs</h2>
        <a href="#" class="btn">View All</a>
    </div>


    <div class="card-container">
        <div class="music-card" *ngFor="let song of popularSongs">
            <img src="assets/imgs/cover/{{song.imgUrl}}" alt="">
            <div class="song-details">
                <h3 class="song-title">{{song.title}}</h3>
                <p>{{song.singer}}</p>
                <div class="ratings">
                    <ion-icon name="star" class="gold-star"></ion-icon>
                    <ion-icon name="star" class="gold-star"></ion-icon>
                    <ion-icon name="star" class="gold-star"></ion-icon>
                    <ion-icon name="star-half" class="gold-star"></ion-icon>
                    <ion-icon name="star-outline" class="gold-star"></ion-icon>
                </div>
                <div class="more-info">
                    <span class="category">Romantic</span>
                    <span class="language">Hindi</span>
                </div>
                <div class="play">
                    <a href="">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>