<div class="main-container">
  <app-sidebar></app-sidebar>

  <div class="main">
    <app-topbar (toggleMenu)="toggleNavigation()"></app-topbar>

    <div class="details">
      <div class="song-Container">
        <div class="cardHeader">
          <h2>Your Liked Songs</h2>
        </div>

        <div class="card-container">
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
          <app-song-card-item></app-song-card-item>
        </div>
      </div>
    </div>

  </div>
</div>