<div class="topbar">
    <div class="toggle" (click)="onClickToggle()">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
    
    <div class="search">
        <label>
            <input type="text" placeholder="Search here" [(ngModel)]="searchQuery" (input)="onSearch()">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>
    <div class="right-section">
        <a routerLink="/auth" class="btn">Login</a>
        <!-- <div class="user">
            <img src="assets/imgs/customer01.jpg" alt="">
        </div> -->
        
    </div>
</div>
