<div class="song-Container">
    <div class="cardHeader">
        <h2>Top Rated Songs</h2>
        <a href="#" class="btn">View All</a>
    </div>
    

    <div class="card-container">
        <div class="music-card" *ngFor="let song of topRatedSongs">
            <img src="assets/imgs/cover/{{song.imgUrl}}" alt="">
            <div class="song-details">
                <h3 class="song-title">{{song.title}}</h3>
                <p>{{song.singer}}</p>
                <div class="play">
                    <a href="">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>