<div class="song-Container">
    <div class="cardHeader">
        <h2>Popular Songs</h2>
        <a href="#" class="btn">View All</a>
    </div>


    <div class="card-container">
        <div class="music-card">
            <img src="assets/imgs/cover/JaanNisaarPoster.jpg" alt="">
            <div class="song-details">
                <h3 class="song-title">Jaan Nisaar</h3>
                <p>Arjit Singh</p>
                <div class="play">
                    <a href="">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>