<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <!-- <ion-icon name="logo-apple"></ion-icon> -->
                    <ion-icon name="logo-google-playstore"></ion-icon>
                </span>
                <span class="title">TuneSync</span>
            </a>
        </li>

        <li routerLink="/home" routerLinkActive="hovered">
            <a>
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Home</span>
            </a>
        </li>

        <li routerLink="/categories" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="list-outline"></ion-icon>
                </span>
                <span class="title">Category</span>
            </a>
        </li>

        <li routerLink="/artists" routerLinkActive="hovered">
            <a>
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Artists</span>
            </a>
        </li>

        <li routerLink="/library" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="musical-notes-outline"></ion-icon>
                </span>
                <span class="title">Library</span>
            </a>
        </li>
        <li routerLink="/liked-songs" routerLinkActive="hovered">
            <a href="#">
                <span class="icon">
                    <ion-icon name="heart-outline"></ion-icon>
                </span>
                <span class="title">Liked Songs</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                </span>
                <span class="title">Help</span>
            </a>
        </li>
        <li routerLink="/add-new-song" routerLinkActive="hovered">
            <a >
                <span class="icon">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </span>
                <span class="title">Add new song</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Settings</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</div>