<div class="music-card">
  <img src="assets/imgs/cover/JaanNisaarPoster.jpg" alt="">
  <div class="song-details">
      <h3 class="song-title">Jaan Nisaar</h3>
      <p>Arjit Singh</p>
      <div class="ratings">
        <ion-icon name="star" class="gold-star"></ion-icon>
        <ion-icon name="star" class="gold-star"></ion-icon>
        <ion-icon name="star" class="gold-star"></ion-icon>
        <ion-icon name="star-half" class="gold-star"></ion-icon>
        <ion-icon name="star-outline" class="gold-star"></ion-icon>
    </div>
    <div class="more-info">
        <span class="category">Romantic</span>
        <span class="language">Hindi</span>
    </div>
      <div class="play">
          <a href="">
              <span class="fa fa-play"></span>
          </a>
      </div>
  </div>
</div>