<div class="main-container">
    <app-sidebar></app-sidebar>

    <div class="main">
        <app-topbar (toggleMenu)="toggleNavigation()"></app-topbar>
        <div class="details">
            <div class="song-Container">
                <div class="cardHeader">
                    <h2>Top Artists</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                
            
                <div class="card-container">
                    
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    <app-artist-card-item></app-artist-card-item>
                    
                </div>
            </div>
        </div>
    </div>
</div>