<div class="song-Container" style="margin-top: 55px;">
  <div class="cardHeader">
      <h2>Your Songs</h2>
      <!-- <a href="#" class="btn">View All</a> -->
  </div>
  <div class="card-container">
      
    <app-song-card-item></app-song-card-item>
    <app-song-card-item></app-song-card-item>
    <app-song-card-item></app-song-card-item>
    <app-song-card-item></app-song-card-item>
    <app-song-card-item></app-song-card-item>
    <app-song-card-item></app-song-card-item>
    <app-song-card-item></app-song-card-item>
    <app-song-card-item></app-song-card-item>
  </div>
</div>